<!DOCTYPE html>
<html lang="en" data-theme="<%= page.theme %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moo, the static site generator</title>
    <link rel="stylesheet" href="styles/style_landing.css">
</head>

<body>
    <%- content %>
        <footer class="footer">Built with moo.</footer>
</body>

</html>