@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

/* Container para a imagem com gradiente */
.imagem-banner {
    height: 10em;
    width: auto;
    margin: 1.5%;
    position: relative;
    border-radius: 1%;
    overflow-x: auto;
}

:root {
    background-color: rgb(24, 20, 45);
    margin: 0;
    color: white;
}

.titulo-doc {
    padding: 0.5%;
    margin: 0.5%;
    border: lightblue solid 0.01em;
    background-color: rgb(14, 37, 78);
    width: 30%;
    justify-content: center;
    justify-self: center;
}

body {
    font-family: "Consolas","monaco",monospace;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 3%;
}

.footer {
    font-size: small;
    text-align: center;
}

.code-block {
    padding: 3%;
    background-color: rgb(7, 18, 38);
    color: rgb(233, 64, 64);
}

.nav-bar {
    text-align: center;
    background: rgba(47, 231, 53, 0.853);
    padding: 2%;
    color: rgb(6, 35, 15);
    font-size: xx-large;
    /* Adiciona uma sombra sutil para destacar o banner */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.presentation{
    font-size: larger;
}